.App{
  padding: 2rem;
  
  }

.App h1{
padding: 1rem;

}

.itemDisp {
  display: grid;
  gap: 2rem;
  grid-template-columns:1fr 1fr;
}

.itemDisp img {
  width: 100%;
}

.itemDisp p{
  margin: .4rem 0;

}

@media screen and (max-width: 700px) {
  .App{
    padding: 2%;
    max-width: 96vw;
    font-size: .8rem;
    }

  .itemDisp div {
    margin: 0rem;
  }
  .itemDisp {
    display: grid;
    gap: 2%;
    grid-template-columns:1fr 1fr;
    
  }
  h2 {
    font-size: 1rem;
  }

}