.theGames {
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 1rem;
    

}

@media screen and (max-width: 700px) {

    .theGames {
        grid-template-columns:1fr;
        gap: .5rem;
    
    }

}